body{
  background-color: #031634;
  font-family: 'Mada', sans-serif;
}
  td:nth-child(1){
  text-align: center;

 }
  th:nth-child(1){
  width: 60px;
  
}
  #dnBtn{
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  
}
  #downloadHeader{
  line-height: 63px;
  font-size: 23px;
  }
  i.fab{
  font-size: 25px;
  color: #fff;
  margin: 0 3px;
  }

  #prevBtn{
  border-radius: 20px 0 0 20px;
   font-size: 22px;
}
  #nextBtn{
  border-radius: 0 20px 20px 0;
  font-size: 22px;
 }

  audio.col.s12.grey.z-depth-1.lighten-4{
    border-radius: 15px 15px 0 0;
background-color: #031634;
}


.contentBox{
  border-radius: 15px 15px 15px 15px;

}

ul#dropdown1{
  height: 355px;
  top: -40px;
font-family: 'Righteous', cursive;
text-align: center;
}

#arabic_align .collection-item{
      text-align: center;
font-size: 20px;
}

#inputTitle {
    font-size: 16px;
    color: #031634;
    font-family: revert;

}
#paybtn {
  font-size: 15px;
  margin: 0 5px 10px 0;
}
#paybtn .material-icons {
  margin-right: 0 !important;
}

.mapouter{
    position:relative;
    text-align:right;
    height:264px;
    width:100%;
background-color: #031634;
}
.gmap_canvas{
    overflow:hidden;
    background:none!important;
    height:264px;
    width:100%;
    border-radius: 5px;
background-color: #f3ab65;
}